<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/bootstrap.bundle.js" defer></script>
</head>
<body>
    <ul class="nav nav-pills sticky-top">
        <li class="nav-item">
            <a class="nav-link {{ page.home-nav }}" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ page.about-nav }}" href="/about/">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ page.161-nav }}" href="/161/">161 ARW</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ page.162-nav }}" href="/162">162 FW</a>
        </li>
    </ul>

    <div class="main-body">
        {{ content }}
    </div>
    
</body>
</html>